<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Кнопка</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<div>
    Команда : {{text}}
</div>
    <body>
    <form action="/recieve_command&command={{text}}&location_user={{user_location}}" target="_blank">
        <button>Нажми если это то что ты говорил</button>
    </form>
    </body>
    <body>
        <form action="/" target="_blank">
        <button href="" class="floating-button">Нажми если это не то что ты говорил</button>
        </form>
    </body>
</html>